Repository dashpay/platform, pull requests merged in 2024-10, with the labels that each got.

#2201 feat(sdk): enable withdrawals v1 in JS SDK
  .yarn/cache/fsevents-patch-19706e7e35-10.zip
  packages/js-dash-sdk/src/SDK/Client/Platform/methods/identities/creditWithdrawal.ts
  packages/rs-dpp/src/identity/identity_facade.rs
  packages/rs-dpp/src/identity/identity_factory.rs
  packages/rs-dpp/src/state_transition/state_transitions/identity/identity_credit_withdrawal_transition/mod.rs
  packages/rs-platform-version/src/version/dpp_versions.rs
  packages/rs-platform-version/src/version/mocks/v2_test.rs
  packages/rs-platform-version/src/version/mocks/v3_test.rs
  packages/rs-platform-version/src/version/v1.rs
  packages/rs-platform-version/src/version/v2.rs
  packages/rs-platform-version/src/version/v3.rs
  packages/rs-platform-version/src/version/v4.rs
  packages/wasm-dpp/lib/test/fixtures/getIdentityCreditWithdrawalTransitionFixture.js
  packages/wasm-dpp/src/identity/identity_facade.rs
  packages/wasm-dpp/src/identity/identity_factory.rs
  packages/wasm-dpp/test/integration/identity/IdentityFacade.spec.js
  packages/wasm-dpp/test/unit/identity/IdentityFactory.spec.js
  packages/wasm-dpp/test/unit/identity/stateTransition/IdentityCreditWithdrawalTransition/IdentityCreditWithdrawalTransition.spec.js
Labels: enhancement, js-sdk

#2234 fix(sdk): added signing_withdrawal_key_to_use to withdraw sdk call
  packages/rs-sdk/src/platform/transition/withdraw_from_identity.rs
Labels: rs-sdk

#2235 feat(dpp): added identity public key private key validation methods
  packages/rs-dpp/src/identity/identity_public_key/key_type.rs
  packages/rs-dpp/src/identity/identity_public_key/methods/hash/mod.rs
  packages/rs-dpp/src/identity/identity_public_key/methods/hash/v0/mod.rs
  packages/rs-dpp/src/identity/identity_public_key/v0/methods/mod.rs
  packages/rs-platform-value/src/types/identifier.rs
  packages/rs-sdk/src/platform/types/evonode.rs
Labels: enhancement

#2251 chore: update to latest rust dash core with x11 optional
  Cargo.lock
  packages/rs-dpp/Cargo.toml
  packages/rs-drive-abci/Cargo.toml
  packages/rs-sdk/Cargo.toml
  packages/simple-signer/Cargo.toml
Labels: cleanup

#2252 chore: move BLS Sigs import to Rust Dash Core
  Cargo.lock
  packages/rs-dpp/Cargo.toml
  packages/rs-dpp/src/bls/native_bls.rs
  packages/rs-dpp/src/identity/identity_public_key/key_type.rs
  packages/rs-dpp/src/identity/identity_public_key/v0/methods/mod.rs
  packages/rs-dpp/src/lib.rs
  packages/rs-dpp/src/signing.rs
  packages/rs-drive-abci/Cargo.toml
  packages/rs-drive-abci/src/execution/check_tx/v0/mod.rs
  packages/rs-drive-abci/src/execution/validation/state_transition/state_transitions/identity_update/mod.rs
  packages/rs-sdk/Cargo.toml
  packages/simple-signer/Cargo.toml
Labels: cleanup

#2245 chore(dashmate): report port check errors
  packages/dashmate/src/listr/tasks/doctor/collectSamplesTaskFactory.js
  packages/dashmate/src/status/providers.js
  packages/dashmate/src/status/scopes/core.js
  packages/dashmate/src/status/scopes/platform.js
  packages/dashmate/test/unit/status/scopes/core.spec.js
Labels: dashmate
